<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  <link href="css/watson.css" rel="stylesheet">
</head>
<body class="watson">

	<div th:replace="fragments/header :: header" />
    
    <header class="text-white">
	    <div class="container">
	        <div class="input-group my-group"> 
	            <select class="class="mdb-select md-form"" id="corpus" onchange="getStatus()">
	              <option selected value="0" disabled>Choose your environment</option>
	              <option th:each="corpus : ${listCorpus}" th:value="${corpus.corpusId}" th:text="${corpus.corpusName}"></option>
	            </select> 
	            <span class="input-group-btn">
	                <button type="button" style="margin-right: 10px;" class="btn btn-success" onclick="uploadData()">Upload</button>
	                <button type="button" class="btn btn-success" onclick="trainingData()">Study</button>
	            </span>
	        </div>
	    </div>
  	</header>
  	
  	<div class="rounded" style="text-align:center; z-index: 0; display: none;" id="loading">
		<img style="background-image: none;" src="/images/loading.gif" width="100" alt="loading..." class="">
	</div>
	
	<table style="display: none;" id="tableStatus">
	</table>

	<script type="text/javascript" th:src="@{/javascript/watson.js}"></script>
</body>
</html>
